.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__list-item {
  list-style: none;
  margin-bottom: 16px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 100px;
  padding-bottom: 108px;
}

.footer__list {
  color: #ffffff;
  margin: 0px;
  padding-left: 0px;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  color: #ffffff;
  padding-left: 80px;
  padding-bottom: 60px;
  margin: 0px;
}

.footer__social-heading {
  margin: 0px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.footer__social-link {
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}
