.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__links {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
  margin-top: 30px;
  margin-right: 80px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 500;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  color: #2f80ed;
}
