.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__title {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  padding-bottom: 215px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 80px;
}

.recipes__video-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption-span {
  flex-grow: 1;
}
