.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.reservation__title {
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  padding-bottom: 120px;
}
