.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  width: 125px;
  height: 142px;
  left: 30px;
  top: 30px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
}

.header__title {
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  margin-top: 202px;
  margin-left: 80px;
  line-height: 72px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  margin-left: 80px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  box-sizing: border-box;
  position: absolute;
  left: 80px;
  bottom: 40px;
  right: 80px;
  display: flex;
  justify-content: space-between;
}

.header__hours {
  font-weight: 500;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  margin: 0;
}

.header__address {
  font-weight: 500;
  line-height: 20px;
  color: #838383;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__links {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
  margin-top: 30px;
  margin-right: 80px;
  margin-bottom: 0px;
  margin-left: 0px;
  font-weight: 500;
  line-height: 20px;
}

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-left: 80px;
}

.recipes__title {
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  padding-bottom: 215px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #ffffff;
}

.recipes__video-caption {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-size: cover;
  background-position: center;
}

.reservation__title {
  padding-bottom: 80px;
  margin: 0px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  padding-top: 100px;
  padding-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  max-width: 385px;
  border: none;
  margin: auto;
}

.form__input {
  border-radius: 4px;
}

.form__label {
  display: block;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input_text {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__input_number {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__input_datetime-local {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__input_email {
  max-width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button {
  max-height: 60px;
  border-radius: 4px;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 60px;
  background-color: #2f80ed;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  vertical-align: middle;
}

.form__button:hover {
  transition: 1s;
  opacity: 0.7;
}

.form__input_checkbox {
  border-radius: 2px;
  margin-right: 12px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.form__label_terms-of-use {
  display: inline;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
